@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro&display=swap');

.body{
    margin:0;
    padding:0;
}

.container{
    height: 61rem;
    margin: 0;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    top: 0.1px;
    position: absolute;
    font-size: 50px;
    color: #EA3556;
    text-shadow: black 0 4px 7px;
}

.aaa{
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    color: white;
    letter-spacing: 1.7px;
    font-size: 30px;
    text-align: center;
}

.sliders {
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.7px;
    font-size: 30px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.glow-on-hover {
    letter-spacing: 1.1px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}